<nav class="navbar navbar-top navbar-expand-md navbar-dark bg-primary" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="mb-0 font-weight-bold navbar-brand">
      Bus Pass Management
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex justify-content-end align-items-end">
      <div class="collapse navbar-collapse ml-5" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li *ngFor="let menuItem of listTitles" class="{{menuItem.class}} nav-item">
            <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
              <i class="ni {{menuItem.icon}}"></i>
              <span>{{menuItem.title}}</span>
            </a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="authService.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>