<div class="container-fluid vh-100">
  <div class="row" style="height: inherit;">
    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-start px-4" id="bg">
      <h3 class="text-uppercase m-0 mb-1">Bus Pass Management System</h3>
      <!-- <p class="m-0 text-white h5">Admin Dashboard</p> -->
    </div>
    <div class="col-12 col-sm-6" style="height: inherit;">
      <div class="d-flex flex-column justify-content-center " style="height: 100%; width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>